
.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 1%;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    align-items: center;
    z-index: 100;
    text-align: center;
}

    .header-nav::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(50, 130, 184, 0.3));
        transition: 0.5s;
    }

    .header-nav:hover::after {
        left: 100%;
    }


.logo {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

    .logo img {
        height: 60px;
    }

.header-nav a {
    font-size: 1.4rem;
    color: #e08700;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1rem;
    transition: 0.5s;
    letter-spacing: 1px;
}

.header-nav .page-type {
    font-size: 1.4rem;
    color: #25915b;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1.5rem;
    letter-spacing: 1px;
}

.header-nav a:hover {
    color: transparent;
    color: #007bff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #dc3545;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    color: #6c757d;
    font-size: 18px;
}
