.category-menu {
    position: fixed;
    top: 130px;
    left: 20px;
    width: 200px;
    background: #343a40;
    border: 2px solid #ffc107;
    border-radius: 10px;
    padding: 20px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .category-menu:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }

    .category-menu h4 {
        color: #ffc107;
        font-size: 1.5rem;
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 1px solid #ffc107;
        padding-bottom: 5px;
    }

    .category-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .category-menu ul li {
            margin: 15px 0;
            text-align: center;
        }

            .category-menu ul li a {
                text-decoration: none;
                font-size: 1.1rem;
                color: #ffffff;
                transition: color 0.3s, transform 0.3s;
            }

                .category-menu ul li a:hover {
                    color: #28a745;
                    transform: translateX(5px);
                }

.btn-admin {
    display: block;
    margin: 0 auto;
    background-color: #FFA500;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

    .btn-admin:hover {
        background-color: #007bff;
        color: #fff;
        transform: scale(1.05);
    }
