
.contact-body {
    background-image: url("/img/T4.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}
.create-produs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}
.body-create {
    background-image: url("/img/T4.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.create-produs-form {
    background-color: #fff;
    margin-top: 10rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 60%;
    max-width: 500px;
    transition: transform 0.3s, box-shadow 0.3s;
}

    .create-produs-form:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }


    .create-produs-form .form-group {
        margin-bottom: 1.5rem;
    }

    .create-produs-form label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .create-produs-form .form-control {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        transition: border-color 0.3s, box-shadow 0.3s;
    }

        .create-produs-form .form-control:focus {
            border-color: #004080;
            box-shadow: 0 0 5px rgba(0, 64, 128, 0.5);
            outline: none;
        }

.create-produs-btn {
    display: block;
    width: 100%;
    background-color: #28a745;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

    .create-produs-btn:hover {
        background-color: #218838;
        transform: translateY(-3px);
    }
