* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 1%;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    align-items: center;
    z-index: 100;
    text-align: center;
}

    .header-nav::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(50, 130, 184, 0.3));
        transition: 0.5s;
    }

    .header-nav:hover::after {
        left: 100%;
    }

.logo {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

    .logo img {
        height: 60px;
    }

.header-nav a {
    font-size: 1.4rem;
    color: #e08700;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1rem;
    transition: 0.5s;
    letter-spacing: 1px;
}

.header-nav .page-type {
    font-size: 1.4rem;
    color: #25915b;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1.5rem;
    letter-spacing: 1px;
}

a:hover {
    color: #007bff;
}



.basic-body {
    background-image: url("/img/T4.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.showcase-register {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.1), rgba(12, 3, 51, 0.1));
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    width: 30rem;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    justify-content: center;
    margin-top: 15rem;
    align-items: center;
    background: linear-gradient(135deg, #d7dfe0, #c8dff3);
}

.register-text {
    font-family: "Montserrat", sans-serif;
    color: #3498db;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.form-floating {
    position: relative;
}

    .form-floating label {
        font-size: 1rem;
        font-weight: 500;
        color: #555;
        margin-top: 0.5rem;
    }

    .form-floating input:focus + label,
    .form-floating input:not(:placeholder-shown) + label {
        top: 0;
        left: 10px;
        background: rgba(255, 255, 255, 0.9);
        padding: 0 5px;
        color: #001f3f;
    }

.form-control {
    width: 100%;
    padding: 1.2rem;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    transition: border-color 0.3s ease-in-out;
    color: #555;
    font-size: 1rem;
}

    .form-control:focus {
        border: 2px solid #4caf50;
        outline: none;
    }

.text-danger {
    color: red;
    margin-top: 10px;
}

.w-100.btn.btn-lg.btn-primary {
    width: 100%;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    background-color: #2ecc71;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    margin: 0 auto;
    display: block;
}

    .w-100.btn.btn-lg.btn-primary:hover {
        background-color: #27ae60;
        transform: scale(1.05);
    }

.link-container {
    text-align: center;
    margin-top: 1rem;
}

.login-link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

    .login-link:hover {
        color: #007bff;
        text-decoration: none;
    }

#external-account .btn-primary {
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
}

    #external-account .btn-primary:hover {
        background-color: #0056b3;
    }

#error-message-register {
    color: red;
    margin-top: 10px;
}


.swal2-popup {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #ffffff;
}

.swal2-title {
    color: #5effab;
    font-size: 2em;
}

.swal2-content {
    color: #d0f4fb;
    font-size: 1.2em;
}

.swal2-icon.swal2-success {
    border-color: #5effab;
}

    .swal2-icon.swal2-success [class^=swal2-success-line] {
        background-color: #5effab;
    }

.swal2-confirm {
    background-color: #5effab !important;
    color: #1e3c72 !important;
    border-radius: 10px;
    padding: 0.5em 2em;
    font-size: 1em;
}
.custom-popup {
    border: 2px solid red; /* Set the border to red */
    border-radius: 4px; /* Optional: adjust border radius */
}