
.search-container {
    position: relative;
    width: 100%;
    max-width: 500px; 
    margin: 2rem auto 0 auto; 
}
    .search-container form.filter-form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .search-container button[type="submit"] {
        padding: 10px;
        border: none;
        background-color: #28a745; 
        color: #fff;
        font-size: 1.2rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-right: 8px; 
    }

        .search-container button[type="submit"]:hover {
            background-color: #218838;
        }

    .search-container input[type="text"] {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
        flex: 1; 
        box-sizing: border-box;
    }

.suggestions-dropdown {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    background: #fff;
    border: 2px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 250px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
    transform: translateY(-5px);
}

    .suggestions-dropdown.active {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

.suggestion-item {
    padding: 12px 15px;
    font-size: 1rem;
    color: #333;
    background: #fff;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

    .suggestion-item:last-child {
        border-bottom: none;
    }

    .suggestion-item:hover {
        background: #f1f1f1;
    }

@media (max-width: 768px) {
    .search-container {
        max-width: 90%;
    }
}
