/* home page */
.home-body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/img/F3.jpg");
    background-size: cover;
    background-position: center;
}

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 2%;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    align-items: center;
    text-align: center;
    z-index: 100;
}

    .header-nav .nav-left {
        position: relative;
        display: flex;
        align-items: center;
    }

    .header-nav .nav-right {
        display: flex;
        align-items: center;
    }

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .logo img {
        height: 30px;
    }
}

.logo {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.header-nav a {
    font-size: 1.2rem;
    color: #e08700;
    text-decoration: none;
    font-weight: 700;
    margin-left: 1.2rem;
    transition: 0.5s;
    letter-spacing: 2px;
}


.navbar {
    background-color: transparent;
}

.btn-light,
.btn-light:hover,
.btn-light:focus {
    color: #333;
    text-shadow: none;
}

.cover-container {
    max-width: 42em;
}

.container {
    margin-top: 13rem;
}

.welcome-text {
    color: #e08700;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 10rem;
}

.footer-home {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

#imagini img,
.oferta img {
    width: 23%;
    height: auto;
    display: inline-block;
    margin: 10px;
    border: 2px solid gray;
}


#orar ul {
    list-style-type: none;
    padding: 0;
}

#orar li {
    display: inline;
    margin-right: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

a:hover {
    color: #007bff;
}


.cart-icon {
    color: #333;
    font-size: 24px;
}

    .cart-icon:hover {
        color: #007bff;
    }

.cart-icon,
.account-icon {
    color: #333;
    font-size: 24px;
}

    .cart-icon:hover,
    .account-icon:hover {
        color: #007bff;
    }

.galerie-foto {
    color: #ffffff;
}

#orar {
    color: #e08700;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

    #orar h2 {
        font-size: 24px;
        color: #e08700;
    }

.oferta {
    display: inline-block;
    text-align: center;
    margin: 10px;
    margin-left: 10rem;
}

    .oferta img {
        width: 256px;
        height: 256px;
        margin-top: 10px;
    }

    .oferta h3 {
        font-size: 1em;
        color: #000000;
        font-weight: bold;
    }

.chenar-oferta h3 {
    border: 2px solid #f8b400;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.chenar-oferta1 h3 {
    border: 2px solid #f8b400;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.oferte-sp {
    display: inline-block;
    margin-right: 10px;
}

#imagini .galerie-foto {
    margin-left: 20px;
    display: flex;
}

#oferte .title-oferte {
    margin-left: 45rem;
    display: flex;
}

#oferte .description-oferte {
    margin-left: 33%;
    display: flex;
    margin-top: 1rem;
}

#oferte {
    color: #e08700;
}

.telefon-btn {
    background-color: #e08700;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

    .telefon-btn a {
        color: #000000
    }

    .telefon-btn:hover {
        background-color: #99045b;
    }

/* meniu */

.meniu-body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/imagini/Fundal4.jpg");
    background-size: cover;
    background-position: center;
}

.main-menu {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;

}

.menu-item {
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

    .menu-item:hover {
        transform: scale(1.05);
    }

    .menu-item img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .menu-item h2 {
        color: #333;
        font-size: 1.5em;
    }

    .menu-item p {
        color: #666;
    }

    .menu-item span {
        color: #007bff;
    }

.menu-title {
    text-align: center;
    font-size: 2rem;
    color: #272626;
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: bold;
   
}

.product-description {
    font-size: 0.9rem;
    color: #555;
    max-height: 60px;
    overflow: hidden;
    min-height: 4.5rem;
}

    /* cos-cumparaturi */
 .cos-body {
    font-family: Arial, sas-serif;
    background-image: url('/img/T4.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

.cos-p {
    max-width: 600px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.cos-cumparaturi {
    font-size: 2em;
    text-align: center;
    margin-top: 10rem;
}

.elements-cos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top:2rem;
    justify-content: center;
    padding: 20px;
}

.item-cos {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 280px;
    transition: transform 0.3s ease-in-out;
}

    .item-cos:hover {
        transform: scale(1.05);
    }


    .item-cos img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 15px;
    }


.delete-btn {
    background: #800020;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

    .delete-btn:hover {
        background: #600015;
    }


.button-container {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    background: #28a745;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}

    .btn:hover {
        background: #218838;
        color: darkseagreen;
    }
